@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
           .container {
               width: 100%;
               padding-right: 15px;
               padding-left: 15px;
               margin-right: auto;
               margin-left: auto;
           }
    
           @media (min-width: 1200px) {
               .container {
                   max-width: 1140px;
               }
           }
    
           .d-flex {
               display: flex;
               flex-direction: row;
               background: #faf9f8;
               border-radius: 0 0 5px 5px;
               padding: 25px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
           }
    
           form {
               flex: 4;
           }
    
          
    
           .title {
              
               border-radius: 5px 5px 0 0;
               padding: 20px;
           }
    
           h2 {
               margin: 0;
               padding-left: 15px;
               color: #333333;
               text-align: center;
           }
    
           .required {
               color: red;
           }
    
           label{
               display: block;
               margin: 15px;
               font-weight: 600;
           }
    
         span{
            font-weight: 600;
         }
    
           input[type="text"],
input[type="tel"],
           input[type="email"],
          
           select {
               width: 70%;
               height: 30px;
               background: transparent;
               padding: 5px 10px;
               margin-bottom: 10px;
               border: 1px solid rgb(168, 164, 164);
               color: #000;
               font-weight: 500;
           }

    
    a{
        text-decoration: none;
       color: #fff;
    }
           select {
               width: 72%;
               height: 45px;
               padding: 5px 10px;
               margin-bottom: 10px;
           }
           
            button {
                display: block;
                margin: 0 auto;
                    width: 40%;
                    margin-top: 10px;
                    padding: 10px;
                    border: none;
                    border-radius: 30px;
                    background: #31af36;
                    font-size: 15px;
                    font-weight: bold;
                }
            
                button:hover {
                    cursor: pointer;
                    background: #78db7b;
                }

     @media (max-width: 600px) {
        button{
            width: 80%;
        }
    }

           